In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("./data/insurance.csv")

In [3]:
data

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [4]:
X=data.drop(labels=["expenses"],axis=1)

In [5]:
y=data[["expenses"]]

In [6]:
X

      age     sex   bmi  children smoker     region
0      19  female  27.9         0    yes  southwest
1      18    male  33.8         1     no  southeast
2      28    male  33.0         3     no  southeast
3      33    male  22.7         0     no  northwest
4      32    male  28.9         0     no  northwest
...   ...     ...   ...       ...    ...        ...
1333   50    male  31.0         3     no  northwest
1334   18  female  31.9         0     no  northeast
1335   18  female  36.9         0     no  southeast
1336   21  female  25.8         0     no  southwest
1337   61  female  29.1         0    yes  northwest

[1338 rows x 6 columns]

In [7]:
y

      expenses
0     16884.92
1      1725.55
2      4449.46
3     21984.47
4      3866.86
...        ...
1333  10600.55
1334   2205.98
1335   1629.83
1336   2007.95
1337  29141.36

[1338 rows x 1 columns]

In [8]:
categorical_cols=X.select_dtypes(include='object').columns

In [9]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [11]:
categorical_cols

Index(['sex', 'smoker', 'region'], dtype='object')

In [10]:
numerical_cols

Index(['age', 'bmi', 'children'], dtype='object')

In [12]:
X['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [13]:
# Define the custom ranking for each ordinal variable
sex_categories = ["female","male"]
smoker_categories = ['no','yes']
region_categories = ['southwest', 'southeast', 'northwest', 'northeast']

In [14]:
from sklearn.impute import SimpleImputer ## Handling Missing Values
from sklearn.preprocessing import StandardScaler # Handling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [15]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [16]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[sex_categories,smoker_categories,region_categories]))
    ]
    
)

In [17]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [18]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [19]:
preprocessor.fit_transform(X_train)

array([[-1.26120616, -0.76009275, -0.92504639,  1.        ,  0.        ,
         3.        ],
       [-0.97833575,  0.49564145,  2.43745232,  1.        ,  0.        ,
         1.        ],
       [-0.62474772,  2.20800627,  0.75620297,  1.        ,  0.        ,
         1.        ],
       ...,
       [-0.69546533,  0.60979911, -0.92504639,  1.        ,  1.        ,
         0.        ],
       [ 0.78960436,  2.51786276, -0.08442171,  0.        ,  0.        ,
         1.        ],
       [ 1.56749801,  0.85442265, -0.92504639,  1.        ,  1.        ,
         1.        ]])

In [20]:
preprocessor.transform(X_test)

array([[ 0.78960436,  0.26732614, -0.08442171,  1.        ,  1.        ,
         3.        ],
       [-0.62474772,  0.12055202, -0.08442171,  1.        ,  0.        ,
         0.        ],
       [-0.2711597 , -0.58070215, -0.08442171,  1.        ,  0.        ,
         0.        ],
       ...,
       [-1.40264137, -1.62442927, -0.92504639,  1.        ,  0.        ,
         0.        ],
       [-0.05900689, -1.73858693,  0.75620297,  0.        ,  0.        ,
         3.        ],
       [ 1.21390999,  1.11535443,  0.75620297,  0.        ,  0.        ,
         1.        ]])

In [21]:
preprocessor.get_feature_names_out()

array(['num_pipeline__age', 'num_pipeline__bmi', 'num_pipeline__children',
       'cat_pipeline__sex', 'cat_pipeline__smoker',
       'cat_pipeline__region'], dtype=object)

In [22]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [23]:
X_train

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,-1.261206,-0.760093,-0.925046,1.0,0.0,3.0
1,-0.978336,0.495641,2.437452,1.0,0.0,1.0
2,-0.624748,2.208006,0.756203,1.0,0.0,1.0
3,1.284628,-0.450236,-0.084422,1.0,0.0,1.0
4,-0.766183,-1.086257,1.596828,1.0,1.0,1.0
...,...,...,...,...,...,...
931,-0.271160,0.577183,-0.084422,0.0,0.0,1.0
932,0.153146,-0.385003,-0.084422,0.0,0.0,2.0
933,-0.695465,0.609799,-0.925046,1.0,1.0,0.0
934,0.789604,2.517863,-0.084422,0.0,0.0,1.0
935,1.567498,0.854423,-0.925046,1.0,1.0,1.0

In [24]:
X_test

,num_pipeline__age,num_pipeline__bmi,num_pipeline__children,cat_pipeline__sex,cat_pipeline__smoker,cat_pipeline__region
0,0.789604,0.267326,-0.084422,1.0,1.0,3.0
1,-0.624748,0.120552,-0.084422,1.0,0.0,0.0
2,-0.271160,-0.580702,-0.084422,1.0,0.0,0.0
3,-0.483313,-2.097368,0.756203,0.0,1.0,2.0
4,0.931040,0.984889,-0.925046,1.0,0.0,0.0
...,...,...,...,...,...,...
397,1.284628,-0.303462,2.437452,0.0,0.0,3.0
398,0.577452,1.343670,0.756203,1.0,1.0,1.0
399,-1.402641,-1.624429,-0.925046,1.0,0.0,0.0
400,-0.059007,-1.738587,0.756203,0.0,0.0,3.0
401,1.213910,1.115354,0.756203,0.0,0.0,1.0

In [41]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, ExtraTreesRegressor, VotingRegressor
from sklearn.svm import SVR
# from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import GridSearchCV

In [42]:
import numpy as np
from sklearn.metrics import mean_squared_error
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [50]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'KNN' :KNeighborsRegressor(),
    'SVR' : SVR(),
    'DT' : DecisionTreeRegressor(max_depth=4,splitter="best"),
    'RandonForest' : RandomForestRegressor(),
    'GradientB' : GradientBoostingRegressor(),
    'XGboost' : XGBRegressor()
}

In [51]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [52]:
list(models)

['LinearRegression',
 'Lasso',
 'KNN',
 'SVR',
 'DT',
 'RandonForest',
 'GradientB',
 'XGboost']

In [53]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
KNeighborsRegressor()
SVR()
DecisionTreeRegressor(max_depth=4)
RandomForestRegressor()
GradientBoostingRegressor()
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [54]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'KNN', 'SVR', 'DT', 'RandonForest', 'GradientB', 'XGboost'])

In [55]:
models.values()

dict_values([LinearRegression(), Lasso(), KNeighborsRegressor(), SVR(), DecisionTreeRegressor(max_depth=4), RandomForestRegressor(), GradientBoostingRegressor(), XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)])

In [56]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 5858.705669057534
MAE: 4028.528983049298
R2 score 76.31627791214297
===================================


Lasso
Model Training Performance
RMSE: 5858.846988366499
MAE: 4028.703486822185
R2 score 76.31513533636095
===================================


KNN
Model Training Performance
RMSE: 6665.101593023356
MAE: 3914.6343830845776
R2 score 69.34790642948906
===================================


SVR
Model Training Performance
RMSE: 12740.640134928568
MAE: 8208.807843670433
R2 score -12.002855120930045
===================================

d:\Coding Stuff\FSDS\Classes\FSDSMENDTOEND\env\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

DT
Model Training Performance
RMSE: 4998.598774913708
MAE: 2931.0876950329534
R2 score 82.75976615049258
===================================

d:\Coding Stuff\FSDS\Classes\FSDSMENDTOEND\env\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandonForest
Model Training Performance
RMSE: 5141.816360685489
MAE: 2878.161248326226
R2 score 81.75769472343461
===================================

d:\Coding Stuff\FSDS\Classes\FSDSMENDTOEND\env\lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientB
Model Training Performance
RMSE: 4810.381909382019
MAE: 2667.67802249779
R2 score 84.0336475944616
===================================


XGboost
Model Training Performance
RMSE: 5619.936726120121
MAE: 3303.2094969291115
R2 score 78.20737993161832
===================================